:root {
    --cinza: #EBEBEC;
    --preto: #000000;
    --rosa: #ffa6d2;
    --verde: #aaffb1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cinza);
}

body, input, textarea, button {
    font-size: 1ren;
    font-family: sans-serif;
}